{% extends 'base.html' %}



{% block content %}
    <br>
    <br>
    <br>
    <br>
<div class="ui centered grid">
    <form class="ui form" method="POST" action="">
        {% csrf_token %}

      <div class="field">
        <label>Starting Number:</label>
        <input type="text" name="start-number" placeholder="Start">
      </div>
      <div class="field">
        <label>End Number:</label>
        <input type="text" name="end-number" placeholder="End">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div>
      <button class="ui button" type="submit" id="submit">Submit</button>
    </form>

    {% if start_number %}
        <label>{{ start_number }} </label>
    {% endif %}

</div>

<div class="ui centered grid">
    <div class="eight wide column">
    <div class="ui piled segment">
        <h4 class="ui header">Latent Semantic Indexing...</h4>
            {% if true %}
                <iframe src=""></iframe>
            {% else %}
              <div id="waiting" class="ui active loader">
                <div class="ui text loader">Loading...</div>
              </div>

                <div id="prog" class="ui indicating progress active" data-percent="0">
                  <div class="bar" style="transition-duration: 300ms;"></div>
                  <div class="label">0%</div>
                </div>

            {% endif %}
    </div>
    </div>
</div>



<script>jQuery('#waiting').toggle()</script>
{% if job_id %}
<script type="text/javascript">
  jQuery(document).ready(function(){
          var poll_xhr;

          var poll = function(){
          var json_dump = "{{ data }}";
          var job_id = "{{job_id}}";

          console.log(json_dump);
          poll_xhr = $.ajax({
            url:'/random_generator/poll_state',
            type: 'POST',
            data: {
                job_id: job_id,
                csrfmiddlewaretoken: "{{csrf_token}}",
            },
            success: function(result) {
                console.log(result.state)
                if(result.state === "PROGRESS"){
                     jQuery('.bar').css({'width': result.data.process_percent + '%'});
                     jQuery('.label').html(result.data.process_percent + '%');
                     jQuery('#prog').attr("data-percent", result.data.process_percent);
                     jQuery('#waiting').hide()
                }else{
                    if(result.state === "SUCCESS"){
                        jQuery('.bar').css({'width': '100%'});
                        jQuery('.label').html('100%');
                        jQuery('#prog').attr("data-percent", 100);
                    }
                    else {
                        jQuery('.label').html(result.state + '%');
                    }

                    }

                // create the infinite loop of Ajax calls to check the state
                // of the current task
                if (result.state!=="SUCESS" && result.state!=="ABORTED"){
                    poll()
                }
            }
          });
    };

      poll()

  });





  $("#cancel_button").click(function () {

   var poll_xhr;

          var abort = function(){
          var job_id = "{{job_id}}";

          poll_xhr = $.ajax({
            url:'abort_job',
            type: 'POST',
            data: {
                job_id: job_id,
                csrfmiddlewaretoken: "{{csrf_token}}",
            }
          });
    };

      abort()

  })

</script>

{% endif %}




{% endblock %}